$roboto:'Roboto', sans-serif;
$poppins:'Poppins', sans-serif;
$oswald:'Oswald', sans-serif;
$raleway:'Raleway', sans-serif;
$gray:#d8d7d8;
$black:#000;
$dark-blue:#0b2656;
$light-blue:#026cc2;
$orange:#ff7212;
$white:#FFFFFF;