@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: copper;
  src: url(../font/cooper-black/COOPBL.woff);
}

@font-face {
  font-family: impactreg;
  src: url(../font/impactreg/impactreg.woff);
}

@font-face {
  font-family: agency;
  src: url(../font/agency/AGENCYB.woff);
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1440px;
  }
}

body {
  overflow-x: hidden;
}

body ul {
  margin: 0px;
  padding: 0px;
}

body ul li {
  list-style: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0px;
}

body a {
  text-decoration: none;
  display: inline-block;
}

body p {
  margin: 0px;
  line-height: 1.7;
}

body h2 {
  font-size: 41px;
}

body h6 {
  font-size: 20px;
}

body h3 {
  font-size: 26px;
}

.c-btn {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-warning {
  background-color: #ff7212;
  border-radius: 15px 0 15px 0;
  border: none;
  color: #FFFFFF;
  font-family: agency;
  font-size: 25px;
}

.btn-warning:hover {
  background-color: #0b2656;
  color: #FFFFFF;
}

.btn-warning:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #ff7212 !important;
}

.btn-warning .wh-dot {
  position: relative;
}

.btn-warning .wh-dot::after {
  position: absolute;
  left: 0px;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  border-radius: 25px 25px 25px 0;
  content: "";
}

.btn-warning .wh-dot::before {
  position: absolute;
  left: 5px;
  top: 0px;
  z-index: 22;
  content: "\f061";
  font-family: "FontAwesome";
  color: #026cc2;
  font-size: 18px;
  padding: 5px 4px;
}

hr {
  margin: 0px;
}

.big-marg {
  margin-top: 100px;
}

.section-title h2 {
  color: #026cc2;
  font-family: copper;
}

.header .header-top {
  border-bottom: 2px solid #d8d7d8;
}

.header .header-top .header-top-left ul li,
.header .header-top .header-top-right ul li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.header .header-top .header-top-left ul li a,
.header .header-top .header-top-right ul li a {
  color: #000;
}

.header .header-top .header-social a {
  margin: 0 5px;
}

.header .navbar .navbar-brand {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
}

.header .navbar .navbar-brand::before {
  position: absolute;
  top: 0px;
  left: -29px;
  width: 300px;
  height: 55px;
  background-color: #fff;
  content: "";
  z-index: -1;
}

.header .navbar .nav-item .nav-link {
  font-family: copper;
  color: #0b2656;
  font-size: 20px;
  padding: 0;
  margin: 0 25px;
}

.header .navbar .nav-item .nav-link.active {
  position: relative;
  color: #ff7212;
}

.header .navbar .nav-item .nav-link.active:after {
  color: #ff7212;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\f077";
  font-family: "FontAwesome";
  margin-top: 25px;
}

.header .navbar .nav-item .nav-link:hover {
  color: #ff7212;
}

.main-slider {
  height: 100vh;
}

.main-slider .wh-dot:after {
  right: 0 !important;
  left: initial;
}

.main-slider .wh-dot::before {
  right: 5px;
  left: initial;
}

.main-slider .owl-theme .owl-nav button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.37);
  margin: 0 45px;
  padding: 0 0 !important;
}

.main-slider .owl-theme .owl-nav button:hover {
  background-color: #ff7212;
}

.main-slider .owl-theme .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-slider .owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-slider .slider-form-wrapper {
  position: relative;
  background-image: url(../images/f-bg.png);
  z-index: 2;
  margin-top: -180px;
}

.main-slider .slider-form-wrapper::after {
  position: absolute;
  left: 50%;
  bottom: -35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.195);
  content: "";
  display: inline-block;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  z-index: -1;
}

.main-slider .slider-form-wrapper .slider-form-left .title {
  font-family: impact;
  color: #FFFFFF;
}

.main-slider .slider-form-wrapper .slider-form .form-control,
.main-slider .slider-form-wrapper .slider-form .form-select {
  border-radius: 0;
  background-color: transparent;
  color: #FFFFFF;
}

.main-slider .slider-form-wrapper .slider-form .form-control:focus,
.main-slider .slider-form-wrapper .slider-form .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-slider .slider-form-wrapper .slider-form option {
  color: #0b2656;
}

.main-slider .slider-form-wrapper .slider-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

.main-slider .slider-form-wrapper .slider-form ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
  /* Firefox */
}

.main-slider .slider-form-wrapper .slider-form :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
  /* Firefox */
}

.main-slider .slider-form-wrapper .slider-form ::placeholder {
  color: #FFFFFF;
  opacity: 1;
  /* Firefox */
}

.main-about .main-about-detail ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

.main-about .main-about-detail ul li i {
  color: #ff7212;
}

.main-about .title {
  font-family: "Roboto", sans-serif;
}

.main-about .title-big {
  font-size: 56px;
  font-family: impact;
  color: #0b2656;
}

.main-about .title-big span {
  color: #026cc2;
}

.main-about .abt-img-left::after {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 4px dashed #FFFFFF;
  content: '';
  z-index: 2;
}

.main-about .abt-img-right-detail {
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  color: #FFFFFF;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.main-about .abt-img-right-detail .prt-1,
.main-about .abt-img-right-detail .prt-3 {
  font-size: 42px;
}

.main-about .abt-img-right-detail .prt-2 {
  font-size: 70px;
  font-weight: bold;
  color: #ff7212;
}

.main-about .abt-img-right-detail .prt-4 {
  font-size: 51px;
  font-weight: bold;
}

.main-about .abt-img-right-detail .prt-5 {
  font-size: 46px;
  color: #ff7212;
}

.main-about .exper {
  background-color: #026cc2;
  bottom: -66px;
  left: 265px;
  z-index: 3;
}

.main-about .exper::after {
  position: absolute;
  top: -27px;
  right: -28px;
  border-style: solid;
  border-color: transparent transparent transparent #FFFFFF;
  border-width: 25px;
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-about .exper .lft {
  font-size: 54px;
  font-family: impact;
  color: #FFFFFF;
}

.main-about .exper .rgt {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

.main-about .cll-us {
  position: absolute;
  bottom: -155px;
  right: 17px;
}

.main-about .cll-us::after {
  position: absolute;
  top: 34px;
  right: -13px;
  width: 3px;
  height: 50%;
  background-color: #d8d7d8;
  content: '';
}

.main-about .cll-us i {
  font-size: 40px;
  color: #ff7212;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-about .cll-us span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.main-about .cll-us .num {
  font-family: impact;
  font-size: 40px;
  color: #026cc2;
}

.main-about .eml-us {
  margin-top: 18px;
}

.main-about .eml-us i {
  font-size: 40px;
  color: #ff7212;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-about .eml-us span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.main-about .eml-us .num {
  font-family: impact;
  font-size: 40px;
  color: #026cc2;
}

.guarentee {
  padding: 45px 0;
}

.guarentee .icon {
  position: relative;
}

.guarentee .icon::after {
  position: absolute;
  top: 19px;
  right: 15px;
  height: 62px;
  width: 4px;
  background-color: #026cc2;
  content: '';
}

.guarentee .detail h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.guarentee .detail p {
  font-family: "Roboto", sans-serif;
}

.main-services {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  padding: 85px 0;
}

.main-services .owl-theme .owl-nav button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff7212;
  margin: 0 45px;
  padding: 0 0 !important;
  color: #FFFFFF;
}

.main-services .owl-theme .owl-nav button:hover {
  background-color: #ff7212;
}

.main-services .owl-theme .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: -90px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-services .owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: -120px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-services .service-card-inner {
  padding: 0 35px;
}

.main-services .service-bdr {
  top: 0px;
  left: -20px;
}

.main-services .service-wraper {
  height: 660px;
}

.main-services .service-detail-card {
  background-color: #FFFFFF;
  top: 111px;
  left: -36px;
  width: 100%;
  border-radius: 50px 5px 50px 15px;
  z-index: 2;
}

.main-services .service-detail-card::before {
  position: absolute;
  top: -29px;
  left: -2px;
  width: 100%;
  height: 65px;
  content: '';
  background-color: #FFFFFF;
  border-radius: 50px 50px 5px 0;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.main-services .service-detail-card::after {
  position: absolute;
  bottom: -38px;
  left: 2px;
  width: 100%;
  height: 68px;
  content: '';
  background-color: #FFFFFF;
  border-radius: 0px 0px 69px 62px;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  -webkit-box-shadow: 0px 4px 3px #0000001a;
          box-shadow: 0px 4px 3px #0000001a;
}

.main-services .title {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.review-sec, .review-inner {
  background-size: cover !important;
  background-position: top center !important;
  padding-top: 45px;
  padding-bottom: 85px;
}

.review-sec .rev-top, .review-inner .rev-top {
  background-color: #fff;
  margin-top: -150px;
}

.review-sec .rev-top .btn, .review-inner .rev-top .btn {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 150px;
  z-index: 8;
  background-color: #026cc2;
}

.review-sec .rev-top .btn-warning:hover, .review-inner .rev-top .btn-warning:hover {
  background-color: #ff7212 !important;
}

.review-sec .rev-top .wh-dot::before, .review-inner .rev-top .wh-dot::before {
  content: '\f135';
}

.review-sec .rev-top .lft-img, .review-inner .rev-top .lft-img {
  right: 0px;
  top: -15px;
}

.review-sec .rev-top .rev-top-left .tile, .review-inner .rev-top .rev-top-left .tile {
  font-family: copper;
  font-size: 40px;
  color: #026cc2;
}

.review-sec .rev-top .rev-top-left .tile span, .review-inner .rev-top .rev-top-left .tile span {
  color: #ff7212;
}

.review-sec .rev-top .rev-top-left .sub-tile, .review-inner .rev-top .rev-top-left .sub-tile {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #026cc2;
  font-weight: 600;
}

.review-sec .rev-top .rev-top-left .sub-tile span, .review-inner .rev-top .rev-top-left .sub-tile span {
  color: #0b2656;
}

.review-sec .rev-top .rev-top-left p, .review-inner .rev-top .rev-top-left p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.review-sec .review-wrapper .review-main .title, .review-inner .review-wrapper .review-main .title {
  font-family: copper;
  font-size: 46px;
  color: #026cc2;
  position: relative;
  z-index: 88;
}

.review-sec .review-wrapper .review-main .title::before, .review-inner .review-wrapper .review-main .title::before {
  position: absolute;
  left: 132px;
  bottom: -54px;
  content: '\f10d';
  font-family: 'FontAwesome';
  font-size: 85px;
  color: #d8d7d8;
  z-index: -1;
}

.review-sec .review-wrapper .review-main .title span, .review-inner .review-wrapper .review-main .title span {
  color: #0b2656;
}

.review-sec .review-wrapper .review-all, .review-inner .review-wrapper .review-all {
  margin-top: 85px;
}

.review-sec .review-wrapper .review-all-detail p, .review-inner .review-wrapper .review-all-detail p {
  background-color: #026cc2;
  color: #FFFFFF;
  border-radius: 25px;
  font-size: 18px;
}

.review-sec .review-wrapper .review-all-detail .name-rev .user-name, .review-inner .review-wrapper .review-all-detail .name-rev .user-name {
  font-family: copper;
  font-size: 24px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 25px;
  color: #026cc2;
}

.review-sec .review-wrapper .review-all-detail .name-rev .user-name span, .review-inner .review-wrapper .review-all-detail .name-rev .user-name span {
  display: block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.review-sec .review-wrapper .review-all-detail .name-rev .user-name .review-star, .review-inner .review-wrapper .review-all-detail .name-rev .user-name .review-star {
  color: #ff7212;
  font-size: 14px;
}

.review-sec .review-wrapper .owl-theme .owl-dots .owl-dot span, .review-inner .review-wrapper .owl-theme .owl-dots .owl-dot span {
  background-color: #026cc2;
}

.review-sec .review-wrapper .owl-theme .owl-dots .owl-dot.active span, .review-inner .review-wrapper .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff7212;
}

.review-sec .quote-form, .review-inner .quote-form {
  background-color: #FFFFFF;
}

.review-sec .quote-form .form-control, .review-sec .quote-form .form-select, .review-inner .quote-form .form-control, .review-inner .quote-form .form-select {
  font-size: 18px;
  font-weight: 600;
  color: #d8d7d8;
}

.review-sec .quote-form .form-control:focus, .review-sec .quote-form .form-select:focus, .review-inner .quote-form .form-control:focus, .review-inner .quote-form .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.review-sec .quote-form .wh-dot::before, .review-inner .quote-form .wh-dot::before {
  content: '\f1d8';
}

.review-sec .quote-form .quote-form-title, .review-inner .quote-form .quote-form-title {
  font-family: copper;
  font-size: 44px;
  color: #026cc2;
}

.review-sec .quote-form .quote-form-title span, .review-inner .quote-form .quote-form-title span {
  color: #0b2656;
}

.insta-feed {
  padding: 45px 0;
}

.insta-feed .section-title span {
  color: #0b2656;
}

.main-brands .section-title span {
  color: #0b2656;
}

.main-brands .main-brand-wrapper .main-brand-inner img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-position: center center !important;
  background-size: cover;
}

footer .f-marg {
  padding-top: 182px;
}

footer .f-about {
  color: #FFFFFF;
}

footer .f-title {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
}

footer .f-links ul li {
  margin-bottom: 10px;
}

footer .f-links ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

footer .f-links ul li a:hover {
  color: #ff7212;
}

footer .f-links ul li a::before {
  content: '\f101';
  font-family: 'FontAwesome';
  color: #ff7212;
  margin-right: 10px;
}

footer .opt-hrs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-size: 18px;
}

footer .opt-hrs li span {
  margin-right: 25px;
}

footer .get-dir a {
  color: #ff7212 !important;
  font-size: 24px !important;
  font-weight: 600;
}

footer .footer-bottom {
  padding: 25px 0;
  margin-top: 45px;
  border-top: 2px solid #000;
}

footer .footer-bottom p {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

footer .footer-bottom .f-bottom-social ul li {
  color: #FFFFFF;
  display: inline-block;
  margin-right: 25px;
}

footer .footer-bottom .f-bottom-social ul li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff7212;
  color: #FFFFFF;
  font-size: 24px;
  padding: 1px 9px;
}

footer .footer-top {
  top: -150px;
  left: 0px;
  width: 100%;
}

footer .footer-top .footer-top-box {
  background-image: url(../images/aero-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .footer-top .footer-top-box::before {
  position: absolute;
  top: 0px;
  right: -100px;
  border-width: 51px;
  border-style: solid;
  border-color: transparent transparent transparent #E8E8E8;
  content: '';
}

footer .footer-top .footer-top-box::after {
  position: absolute;
  top: 0px;
  right: -70px;
  background-image: url(../images/F-ARRO.png);
  background-repeat: no-repeat;
  content: '';
  width: 40px;
  height: 120px;
}

footer .footer-top .footer-top-box .icon {
  font-size: 46px;
  color: #ff7212;
  position: relative;
}

footer .footer-top .footer-top-box .icon::before {
  position: absolute;
  top: -4px;
  left: -43px;
  border-width: 38px 25px 39px 25px;
  border-style: solid;
  border-color: transparent transparent transparent #ff7212;
  content: '';
}

footer .footer-top .footer-top-box .dtl {
  margin-left: 25px;
}

footer .footer-top .footer-top-box .dtl h6 {
  font-size: 22px;
}

.back-to-top {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #ff7212;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

.back-to-top span {
  display: block;
}

.inner-banner {
  background-repeat: no-repeat !important;
  background-position: top left !important;
}

.inner-banner .inner-banner-detail {
  padding: 80px 0;
}

.inner-banner .inner-banner-detail .inner-banner-title {
  color: #FFFFFF;
  font-family: copper;
  font-size: 36px;
}

.inner-banner .inner-banner-detail .breadcrumb li {
  color: #FFFFFF;
}

.inner-banner .inner-banner-detail .breadcrumb li a {
  color: #FFFFFF;
}

.inner-big-marg {
  margin-top: 120px;
}

.appointment .appoint-form {
  border-radius: 15px;
}

.appointment .appoint-form .btn-warning:hover {
  background-color: #ff7212 !important;
}

.appointment .appoint-form .wh-dot::before {
  content: '\f1d8';
}

.appointment .form-control {
  border-radius: 10px;
}

.carrer-card {
  border-radius: 10px;
  background-image: url(../images/carer-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.carrer-card .btn-warning {
  border-radius: 50px;
  font-size: 18px;
}

.carrer-card .wh-dot:after {
  left: -9px;
  top: -8px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.contact-us-pg .wh-dot::before {
  content: '\f1d8';
}

.single-page .single-detail p {
  padding: 15px 0;
}

.single-page .single-page-sidebar h3 {
  color: #026cc2;
  font-family: copper;
}

.single-page .single-page-sidebar ul li {
  border-bottom: 1px solid #d8d7d8;
}

.single-page .single-page-sidebar ul li a {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  display: block;
}

.single-page .single-page-sidebar ul li a:hover {
  background-color: #026cc2;
  color: #FFFFFF;
}

.single-page .faq .accordion {
  border: none;
}

.single-page .faq .accordion .accordion-button {
  background-color: #026cc2;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 0;
}

.single-page .faq .accordion .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */